/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.wrapper {
	margin: auto;
	max-width: 880px;
	line-height: 1.2;

}

h1 {
	font-size: 25px;
}

nav {
	margin: auto;
	display: inline-flex;
	padding: 2% 0;
	flex-grow: 2;
}

.navbar {
	display: inline-flex;
	margin: 0;
	flex-direction: row;
	width:98%;
}

nav a {
	margin: 0;
	padding-right: 2rem;
	text-decoration: none;
	color: #A7A7AA;
	text-align: center;
}
.navbar img {
	display: flex;
	justify-content: flex-end;

}

img {
	display: flex;
	margin: auto;

}

.header-left h1 {
	font-size: 80px;
	text-align: center;
}

header {
	margin:auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.header-right {
	padding-left: 5%;
}

button {
	display: flex;
	margin: auto;
	align-content: center;
}

.top-content  {
	margin: auto;
	display: flex;
	max-width: 880px;
	padding-top: 1%;
	border-top: 1px solid black;
}
.top-content-left .top-content-right {
	display: flex;
	justify-content: space-evenly;
}

.bottom-content {
	margin: auto;
	display: flex;
	max-width: 880px;
	border-bottom: 1px solid black;
	padding-bottom: 1%;
}

.middle-img {
	display: flex;
	margin: auto;
	padding: 2% 0;
	justify-content: center;
}

.contact {
	display: flex;
	flex-flow: column;
	margin: auto;
	max-width: 880px;
	padding: 3% 0;
}
address {
	padding: 2% 0;
}
.contact a {
	text-decoration: none;
	color: black;
	line-height: 2;
}

.main-image {
	margin: auto;
	padding-top: 10px;
	height: 200px;
}

.services {
	margin: 25px 0;
	display: block;
	padding: 5px 0px 30px 0;
	border-bottom: 1px solid black;
}

.central {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-bottom: 20px;
}

.card {
	padding: 20px 20px 10px 20px;
	width: 45%;
	background-color: #F4F3F4;
	border: 1px solid black;
	margin: 20px;
	text-align: left;
}

.card button {
	margin: 20px 0 10px 0;
	padding: 10px 20px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: x-small;
	background-color: white;
}

.facts {
	margin: auto;
	display: flex;
	flex-direction: row;
	padding: 25px 0;
	border-top: 2px solid black;
	justify-content: space-between;
}

.facts .card {
	background-color: white;
	border: none;
}

ul {
	display: block;
}

li {
	margin-top: 10px;
	list-style-type: square;
	list-style-position: inside;
}

footer {
	text-align: center;
}




